<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Edwin frmproducto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
  </head>
  <body>
    <h2>Formulario de producto edwin</h2>
    <table align="center" width="200">
      <tr>
        <td id="producto_id"></td>
      </tr>
      <tr>
        <td><input type="text" id="cod" placeholder="Código" /></td>
      </tr>
      <tr>
        <td><input type="text" id="des" placeholder="Descripción" /></td>
      </tr>
      <tr>
        <td><input type="text" id="pre" placeholder="Precio" /></td>
      </tr>
      <tr>
        <td><input type="text" id="stk" placeholder="Stock" /></td>
      </tr>
      <tr>
        <td><button onclick="guardar()">G U A R D A R</button></td>
      </tr>
    </table>
    <script src="/../js/jquery-2.1.4.min.js"></script>
    <script src="/../js/frmproducto.js"></script>
  </body>
</html>
